@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --flame-1-blue: #1E3A8A;
  --flame-2-gold: #FACC15;
  --flame-3-pink: #F472B6;
  --flame-4-white: #F9FAFB;
  --flame-5-green: #10B981;
  --flame-6-ruby: #FB923C;
  --flame-7-violet: #8B5CF6;
}

html, body {
  background: var(--background);
  color: var(--flame-4-white);  
}

main {
  background: var(--flame-7-violet);
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


